* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  padding: 0px;
  margin: 0px;
  font-size: 16px; }

a {
  cursor: pointer !important; }

a:hover {
  cursor: pointer !important; }

.logo {
  width: 90px; }

input, textarea {
  font-family: aktiv-grotesk,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;
  margin-bottom: 20px;
  border: 4px solid #ececec; }

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }

.modal {
  display: none; }

.modal.is-open {
  display: block; }

.price {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 3.45rem;
  color: #2A3B57;
  margin: 0px;
  /* padding-bottom: 15px; */
  display: inline;
  background: #fff227; }

br {
  padding-top: 20px; }

.title-dark {
  font-size: 3.25rem;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #2A3B57;
  margin: 0px;
  padding-bottom: 15px; }

.--smaller {
  font-size: 2rem;
  padding-bottom: 0px;
  margin-bottom: -5px; }

.title-light {
  font-size: 3.25rem;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #FFFFFF;
  margin: 0px;
  padding-bottom: 15px; }

.description {
  font-size: 1.45rem;
  font-family: ff-tisa-web-pro, serif;
  font-weight: 400;
  font-style: normal;
  color: #3C4A5B;
  margin: 0px;
  padding-bottom: 10px; }

.description2 {
  font-size: 1.65rem;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #3C4A5B;
  margin: 0px;
  padding-bottom: 10px; }

.description3 {
  font-size: 0.9rem;
  font-family: aktiv-grotesk,sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #3C4A5B;
  margin: 0px;
  margin-top: 30px;
  max-width: 500px; }

.description-white {
  font-size: 1.45rem;
  font-family: ff-tisa-web-pro, serif;
  font-weight: 400;
  font-style: normal;
  color: #D6E8FF;
  margin: 0px;
  padding-bottom: 10px; }

.button-blue {
  background: #4B9DE2;
  color: #FFFFFF;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 0.875rem;
  text-decoration: none;
  padding: 14px 38px;
  border-radius: 3px;
  transition: 0.15s ease-in-out; }
  .button-blue:hover {
    opacity: 0.82; }

.button-red {
  background: #F84A4A;
  color: #FFFFFF;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 0.875rem;
  text-decoration: none;
  padding: 14px 38px;
  border-radius: 3px;
  transition: 0.15s ease-in-out; }
  .button-red:hover {
    opacity: 0.82; }

.button-ghost-primary {
  background: transparent;
  border: 2px solid #3C4A5B;
  padding: 12px 30px;
  color: #2A3B57;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 0.875rem;
  border-radius: 3px;
  transition: 0.15s ease-in-out;
  text-decoration: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }
  .button-ghost-primary:hover {
    opacity: 0.52; }

.button-ghost-secondary {
  background: transparent;
  border: 2px solid #D6E8FF;
  padding: 12px 30px;
  color: #D6E8FF;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 0.875rem;
  border-radius: 3px;
  transition: 0.15s ease-in-out;
  text-decoration: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }
  .button-ghost-secondary:hover {
    opacity: 0.52; }

section {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center; }

.wrapper {
  width: 90%; }

.main-nav {
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.nav-container {
  padding: 0px;
  margin: 0px;
  position: relative; }

.dropdown-content1 {
  visibility: hidden;
  position: absolute;
  background-color: white;
  left: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  padding: 12px 16px;
  z-index: 1;
  transition: 0.2s 1.2s ease-in;
  display: flex;
  flex-direction: column;
  opacity: 0; }

.dropdown-content2 {
  visibility: hidden;
  position: absolute;
  margin-left: 18.5px;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  padding: 12px 16px;
  z-index: 1;
  transition: 0.2s 1.2s ease-in;
  display: flex;
  flex-direction: column;
  opacity: 0; }

.paddedx6 {
  padding-top: 160px; }

.padded {
  padding-top: 50px; }

.padded35 {
  padding-top: 35px; }

.padded20 {
  padding-top: 20px; }

.paddedx3 {
  padding-top: 120px; }

.nav-item {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.187rem;
  color: #2A3B57;
  text-decoration: none;
  margin: 20px;
  transition: 0.1s ease-in; }
  .nav-item:hover {
    opacity: 0.8; }

.nav-item:nth-child(1):hover + .dropdown-content1 {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s; }

.nav-item:nth-child(3):hover + .dropdown-content2 {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s; }

.nav-item:nth-child(5) {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.187rem;
  color: #2A3B57;
  text-decoration: none; }

.dropdown-item {
  text-decoration: none;
  position: relative;
  text-align: center;
  margin: 5px 0px;
  font-size: 0.9rem;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #2A3B57;
  padding: 2px; }
  .dropdown-item:before, .dropdown-item:after {
    content: '';
    position: absolute;
    top: 22px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #F84A4A; }
  .dropdown-item:before {
    opacity: 0;
    transform: translateY(-16px);
    transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s; }
  .dropdown-item:after {
    opacity: 0;
    transform: translateY(8px);
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s; }
  .dropdown-item:hover:before, .dropdown-item:hover:after, .dropdown-item:focus:before, .dropdown-item:focus:after {
    opacity: 1;
    transform: translateY(0); }
  .dropdown-item:hover:before, .dropdown-item:focus:before {
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s; }
  .dropdown-item:hover:after, .dropdown-item:focus:after {
    transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s; }

.nice-link:before, .nice-link:after {
  content: '';
  position: absolute;
  top: 27px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #F84A4A; }
.nice-link:before {
  opacity: 0;
  transform: translateY(-16px);
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s; }
.nice-link:after {
  opacity: 0;
  transform: translateY(8px);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s; }
.nice-link:hover:before, .nice-link:hover:after, .nice-link:focus:before, .nice-link:focus:after {
  opacity: 1;
  transform: translateY(0); }
.nice-link:hover:before, .nice-link:focus:before {
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s; }
.nice-link:hover:after, .nice-link:focus:after {
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s; }

.bg-blue {
  background-color: #F0F7FC; }

.bg-dec {
  position: relative; }

.bg1 {
  background: url(bg1.jpg);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  margin-top: 130px;
  -webkit-transform: skewY(2deg);
  -moz-transform: skewY(2deg);
  -ms-transform: skewY(2deg);
  -o-transform: skewY(2deg);
  transform: skewY(2deg); }

.bg2 {
  background: url(bg2.jpg);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  margin-top: -40px;
  -webkit-transform: skewY(2deg);
  -moz-transform: skewY(2deg);
  -ms-transform: skewY(2deg);
  -o-transform: skewY(2deg);
  transform: skewY(2deg); }

.bg3 {
  background: url(bg3.jpg);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  margin-top: -40px;
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  -o-transform: skewY(-2deg);
  transform: skewY(-2deg); }

.bg5 {
  background: url(bg5.jpg);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  margin-top: -40px;
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  -o-transform: skewY(-2deg);
  transform: skewY(-2deg); }

.bg5 > * {
  -webkit-transform: skewY(2deg);
  -moz-transform: skewY(2deg);
  -ms-transform: skewY(2deg);
  -o-transform: skewY(2deg);
  transform: skewY(2deg); }

.bg6 {
  background: url(bg6.jpg);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  margin-top: -40px;
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  -o-transform: skewY(-2deg);
  transform: skewY(-2deg); }

.bg6 > * {
  -webkit-transform: skewY(2deg);
  -moz-transform: skewY(2deg);
  -ms-transform: skewY(2deg);
  -o-transform: skewY(2deg);
  transform: skewY(2deg); }

.bg7 {
  background: url(bg7.jpg);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  margin-top: -40px;
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  -o-transform: skewY(-2deg);
  transform: skewY(-2deg); }

.bg7 > * {
  -webkit-transform: skewY(2deg);
  -moz-transform: skewY(2deg);
  -ms-transform: skewY(2deg);
  -o-transform: skewY(2deg);
  transform: skewY(2deg); }

.bg4 {
  background: url(bg4.jpg);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 200px 0px;
  -webkit-transform: skewY(2deg);
  -moz-transform: skewY(2deg);
  -ms-transform: skewY(2deg);
  -o-transform: skewY(2deg);
  transform: skewY(2deg);
  margin-bottom: -36px; }
  .bg4 .stat-description-white {
    max-width: 300px;
    color: #2A3B57; }
  .bg4 .stat-number-white {
    color: #2A3B57;
    padding: 2px;
    margin-bottom: 20px;
    text-align: center !important; }
  .bg4 .stat-box {
    max-width: unset; }
  .bg4 .stat {
    margin: 30px;
    display: inline; }

.bg4 > * {
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  -o-transform: skewY(-2deg);
  transform: skewY(-2deg); }

.nav-inheader {
  margin-top: -100px; }

.nav-inheader > .nav-container > .nav-item {
  color: white !important; }

.bg3 > * {
  -webkit-transform: skewY(2deg);
  -moz-transform: skewY(2deg);
  -ms-transform: skewY(2deg);
  -o-transform: skewY(2deg);
  transform: skewY(2deg); }

.bg2 > * {
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  -o-transform: skewY(-2deg);
  transform: skewY(-2deg); }

.bg1 > * {
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  -o-transform: skewY(-2deg);
  transform: skewY(-2deg); }

.dec1 {
  position: absolute;
  background: url(decor87.png);
  background-size: contain;
  background-repeat: no-repeat;
  right: 0;
  top: 0;
  margin-top: -20px;
  width: 47px;
  height: 67px;
  overflow: hidden; }

.dec2 {
  position: absolute;
  background: url(decor235.png);
  background-size: contain;
  background-repeat: no-repeat;
  left: 0;
  bottom: 0;
  margin-bottom: -120px;
  width: 235px;
  height: 235px;
  overflow: hidden; }

.bg2 > .dec2 {
  position: absolute;
  background: url(decor235-2.png);
  background-size: contain;
  overflow: hidden;
  background-repeat: no-repeat;
  left: unset;
  width: 70px;
  right: 0; }

.dec3 {
  position: absolute;
  background: url(dec193.png);
  background-size: contain;
  overflow: hidden;
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  /* margin-bottom: -90px; */
  margin-top: -81px;
  width: 65px;
  height: 200px; }

.dec4 {
  position: absolute;
  background: url(dec196-214.png);
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 0;
  overflow: hidden;
  left: 0;
  margin-bottom: -50px;
  width: 136px;
  height: 124px; }

.stat-box {
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.stat {
  display: flex;
  text-align: center;
  flex-direction: column; }

.stat-number-white {
  font-family: aktiv-grotesk,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.75rem;
  color: #FFFFFF;
  letter-spacing: -0.04px;
  text-align: center;
  margin: 0px; }

.stat-description-white {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 0.8rem;
  color: #FFFFFF;
  letter-spacing: 0.57px;
  text-align: center;
  text-transform: uppercase;
  margin: 0px; }

.icon {
  max-width: 150px !important; }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.flex-horizontal {
  display: flex;
  flex-direction: horizontal;
  flex-wrap: wrap; }

.flex-center-left {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column; }

.gov {
  max-width: 100%;
  width: 700px; }

.col-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-gap: 2rem; }

.area {
  grid-template-columns: 0fr 3fr;
  max-width: 1000px;
  grid-template-rows: 0.3fr 0.8 1fr 1fr; }

.col img {
  max-width: 100%; }

.col p {
  max-width: 700px; }

.padded-bottomx4 {
  padding-bottom: 120px; }

.padded-bottomx6 {
  padding-bottom: 150px; }

/* external css: flickity.css */
* {
  box-sizing: border-box; }

.carousel {
  background: #EEE; }

.carousel-cell {
  max-width: 100%;
  height: 420px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: carousel-cell;
  width: 500px;
  object-fit: cover; }

.carousel-cell.is-selected {
  background: #ED2; }

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white; }

/* no circle */
.flickity-button {
  background: transparent; }

/* big previous & next buttons */
.flickity-prev-next-button {
  width: 100px;
  height: 100px; }

/* icon color */
.flickity-button-icon {
  fill: white; }

/* hide disabled button */
.flickity-button:disabled {
  display: none; }

.flickity-page-dots {
  bottom: -22px; }

/* dots are lines */
.flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0; }

@media all and (max-width: 999px) {
  .col-grid {
    grid-template-columns: 1fr; }

  .stat {
    text-align: left;
    margin-top: 20px; }

  .stat-box {
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    align-items: flex-start; }

  .stat-number-white {
    text-align: left; }

  .nice-link {
    display: none; } }
@media all and (max-width: 500px) {
  .carousel-cell {
    height: 300px; }

  .title-light {
    font-size: 2.9rem; }

  .nav-inheader {
    margin-top: 5px; }

  .hide {
    display: none; }

  .margin {
    margin-top: -25sas0px; } }
.padded-bottom40 {
  padding-bottom: 40px; }

.hidden {
  display: none; }

/**************************\
  Basic Modal Styles
\**************************/
.modal {
  font-family: aktiv-grotesk,sans-serif;
  font-weight: 400;
  font-style: normal; }

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; }

.modal__container {
  background-color: #fff;
  padding: 30px;
  max-width: 700px;
  max-height: 80vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box; }

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box; }

.modal__close {
  background: transparent;
  border: 0; }

.modal__header .modal__close:before {
  content: "\2715"; }

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8); }

.modal__btn {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out; }

.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05); }

.modal__btn-primary {
  background-color: #00449e;
  color: #fff; }

/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes mmfadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes mmslideIn {
  from {
    transform: translateY(15%); }
  to {
    transform: translateY(0); } }
@keyframes mmslideOut {
  from {
    transform: translateY(0); }
  to {
    transform: translateY(-10%); } }
.micromodal-slide {
  display: none; }

.micromodal-slide.is-open {
  display: block; }

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1); }

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1); }

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1); }

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1); }

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform; }

a {
  font-family: aktiv-grotesk,sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #1470BE;
  font-size: 0.9rem;
  text-decoration: none; }

table th {
  text-align: left;
  padding-right: 20px; }

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px; }

tr:nth-child(even) {
  background-color: #dddddd; }

.bg4 > .stat-box {
  flex-direction: column !important;
  align-items: center; }

.eb {
  max-width: 100%;
  border-bottom: 10px solid #4B9DE2;
  transition: 0.2s ease-in;
  cursor: pointer; }
  .eb:hover {
    opacity: 0.9; }

@media all and (max-width: 1300px) {
  .eb-container {
    flex-wrap: wrap; } }
.eb-card {
  max-width: 100%;
  padding: 20px; }

.eb-card h2 {
  font-size: 1.2rem !important; }

.modal__content .eb {
  width: 40%;
  border-bottom: unset;
  border-radius: 100%; }

.swiper-container {
  width: 600px;
  height: 300px; }

.light-grey {
  color: #D6E8FF !important; }

/*# sourceMappingURL=output.css.map */
